<!-- app/views/restaurants/_form.html.erb -->
<h1 class= "text-center mt-3">Add a review!</h1>

<div class="container">
  <div class="row col-6 d-flex justify-content-center mt-3">
    <%= simple_form_for([@restaurant, @review]) do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
